aside#brand-content {
  margin: 1.25rem 0 0 1.25rem;
  position: relative;

  .linear-gradient {
    position: relative;
    &::after {
      border-radius: 0.75rem;
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(
        180deg,
        rgba(33, 37, 38, 0.8) 0%,
        rgba(33, 37, 38, 0.65) 20%,
        rgba(33, 37, 38, 0.3) 40.5%,
        rgba(33, 37, 38, 0.1) 100%
      );
    }
  }
  img {
    border-radius: 0.75rem;
  }
  & div#inner-content {
    position: absolute;
    top: 2rem;
    left: 2rem;

    & div#logo {
      img {
        height: 3rem;
        width: 2.865625rem;
      }

      div#logo-text {
        padding-block: 1rem 0.25rem;
        font: var(--text-logo);
        color: var(--color-accent-pink);
      }
    }

    p {
      font: var(--text-body-md-light);
      color: var(--color-text-heading);
    }
  }
}
