@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Leckerli+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-light: #59B2FF;
  --brand-mid: #3487CF;
  --brand-dark: #1D6FB6;

  --purple: #B259FF;
  --fuschia: #FF59F9;
  --pink: #FF598B;
  --orange: #FF8B59;
  --yellow: #FFCD59;
  --lime: #E1FF59;
  --green: #59FF91;
  --cyan: #59FFF9;
  --navy: #6A59FF;

  --danger: #FF5959;

  --input-base: #1C1F21;
  --input-stroke: #363B40;
  --input-placeholder: #869198;

  --shape-background: #131516;
  --shape-body: #212427;
  --shape-button: #2D3136;
  --shape-hover: #383D42;

  --text-body: #C8CDD0;
  --text-heading: #F9F9F9;

  --font-family-logo: "Leckerli One", cursive;
  --font-family-heading: "Baloo 2", cursive;
  --font-family-body: "Open Sans", sans-serif;

  --logo: 400 2.5rem/auto var(--font-family-logo);
  --heading-md: 800 1.75rem/auto var(--font-family-heading);
  --heading-sm: 800 1.125rem/auto var(--font-family-heading);
  --body-md: 600 1rem/auto var(--font-family-body);
  --body-sm: 600 0.875rem/auto var(--font-family-body);
  --body-xs: 600 0.75rem/auto var(--font-family-body);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  overflow: hidden;
  background-color: var(--color-shape-background);
}

h1 {
  font: var(--text-heading-md);
  color: var(--color-text-heading);
}

img {
  max-width: 100%;
  height: auto;
}

.divider {
  height: 1px;
  background-color: var(--color-input-stroke);
}